@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT-Sans", sans-serif;
    font-size: 12px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    opacity: 0;
}

.wrapper-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background-color: #eb5346;
    border-bottom: .1rem solid #252e39;
}

header .wrapper-inner {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 2rem 0;
}

main {
    flex-grow: 1;
    padding-top: 90px;
}

main .wrapper-inner {
    display: flex;
    flex-direction: row;
    position: relative;
}

.car-class {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car .title {
    width: 13rem;
    padding: .5rem 0;
    background-color: #252e39;
    text-align: center;
    border-radius: .2rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.calculate {
    width: 19.6rem;
    padding: .5rem 0;
    background-color: #eb5346;
    border-radius: .2rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.ar-1, .ar-2, .ar-3 {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-top: 1rem solid #eb5346;
    position: absolute;
    left: calc(50% - .5rem);
    bottom: -1.5rem;
}

.menu {
    border-left: .1rem solid #252e39;
    width: 50%;
    margin-top: 2rem;
}

.type {
    width: 100%;
    padding-top: 1rem;
}

.type li {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #252e39;
    list-style: none;
    cursor: pointer;
    padding: .5rem;
    position: relative;
    text-align: left;
}

.type li:hover {
    background-color: #252e39;
    width: 100%;
    color: white;
}

.type li:hover:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #252e39;
    border-top: 1rem solid transparent;
    left: -1.1rem;
    top: 0;
}

.type li:last-child:hover:after {
    position: absolute;
    content: '';
    display: block;
    width: .6rem;
    height: .6rem;
    border: .1rem solid white;
    border-bottom: none;
    border-right: none;
    right: 2rem;
    top: 0;
    transform: rotate(225deg);
}

.type .active {
    background-color: #252e39;
    width: 100%;
    color: white;
}

.type .active:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #252e39;
    border-top: 1rem solid transparent;
    left: -1.1rem;
    top: 0;
}

.parts {
    display: none;
    width: 100%;
}

.parts li {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #252e39;
    list-style: none;
    cursor: pointer;
    padding: .5rem .5rem .5rem 1.5rem;
    position: relative;
    text-align: left;
}

.parts li:hover {
    background-color: #eb5346;
    width: 100%;
    color: white;
}

.parts li:hover:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #eb5346;
    border-top: 1rem solid transparent;
    left: -1rem;
    top: 0;
}

.car-image {
    position: absolute;
    top: 25rem;
    left: 5rem;
}

footer {
    display: flex;
    flex-direction: row;
}

footer .wrapper-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 10rem 10rem;
    align-items: flex-end;
}

.cost-title, .sum {
    font-size: 1rem;
    color: #eb5346;
}

.cost-title {
    padding-bottom: 1.5rem;
}

.estimate {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.description {
    display: flex;
    flex-direction: row;
    position: relative;
}

.description:before {
    content: "";
    width: 100%;
    height: .1rem;
    background-color: #252e39;
    position: absolute;
    top: -.5rem;
    left: 0;
}

.services {
    color: #252e39;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 1rem;
}

button {
    width: 13rem;
    background-color: #252e39;
    text-align: center;
    border-radius: .2rem;
    outline: none;
    user-select: none;
    border: transparent;
    cursor: pointer;
}

.call-me {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    padding: .5rem 0;
}

.call-me:hover {
    color: #eb5346;
}
